#include "resource.h"

IDI_ICON ICON DISCARDABLE "AnalogClock.ico"
IDC_CURSOR CURSOR DISCARDABLE "Move.cur"
IDW_WAVE_TTI WAVE "SoundFiles//TheTimeIs.wav"
IDW_WAVE_1 WAVE "SoundFiles//1.wav"
IDW_WAVE_2 WAVE "SoundFiles//2.wav"
IDW_WAVE_3 WAVE "SoundFiles//3.wav"
IDW_WAVE_4 WAVE "SoundFiles//4.wav"
IDW_WAVE_5 WAVE "SoundFiles//5.wav"
IDW_WAVE_6 WAVE "SoundFiles//6.wav"
IDW_WAVE_7 WAVE "SoundFiles//7.wav"
IDW_WAVE_8 WAVE "SoundFiles//8.wav"
IDW_WAVE_9 WAVE "SoundFiles//9.wav"
IDW_WAVE_10 WAVE "SoundFiles//10.wav"
IDW_WAVE_11 WAVE "SoundFiles//11.wav"
IDW_WAVE_12 WAVE "SoundFiles//12.wav"
IDW_WAVE_13 WAVE "SoundFiles//13.wav"
IDW_WAVE_14 WAVE "SoundFiles//14.wav"
IDW_WAVE_15 WAVE "SoundFiles//15.wav"
IDW_WAVE_16 WAVE "SoundFiles//16.wav"
IDW_WAVE_17 WAVE "SoundFiles//17.wav"
IDW_WAVE_18 WAVE "SoundFiles//18.wav"
IDW_WAVE_19 WAVE "SoundFiles//19.wav"
IDW_WAVE_20 WAVE "SoundFiles//20.wav"
IDW_WAVE_30 WAVE "SoundFiles//30.wav"
IDW_WAVE_40 WAVE "SoundFiles//40.wav"
IDW_WAVE_50 WAVE "SoundFiles//50.wav"
IDW_WAVE_AM WAVE "SoundFiles//AM.wav"
IDW_WAVE_PM WAVE "SoundFiles//PM.wav"
IDW_WAVE_ALARM WAVE "SoundFiles//AlarmTone.wav"
IDW_WAVE_TICK WAVE "SoundFiles//Tick.wav"
IDW_WAVE_PERHOUR WAVE "SoundFiles//PerHour.wav"

/* 13 24 "AnalogClock.exe.manifest" */
